# Django Configurations
SECRET_KEY=django-insecure-7hl!prx@dw!gtby)%26gc@$%@bc+2bze*-dky=w4-l+iz5%*82
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# MySQL Database Configurations
DB_ENGINE=django.db.backends.mysql
DB_NAME=lms_db
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
